[submodule "packages/ui"]
	path = packages/ui
	url = https://github.com/bangnt188/component-ui.git
	branch = main
[submodule "packages/backend"]
	path = packages/backend
	url = https://github.com/bangnt188/lib-ts-be.git
	branch = main
